name: Twemoji Flags

on:
  push:
  schedule:
    - cron: "0 0 * * 0" # Runs at 00:00, only on Sunday
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
      - name: Build
        run: ./twemoji-flags/build.sh
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: TwemojiFlags
          path: TwemojiFlags.ttf

  release:
    name: Release
    permissions:
      contents: write
    needs:
      - build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          name: TwemojiFlags
      - name: Release
        uses: liblaf/actions/release@dist
        with:
          clobber: true
          tag: TwemojiFlags
          files: TwemojiFlags.ttf
